.MapContainer {
    width: 70vw;
    background-color: white;
    box-sizing: border-box;

    padding: 50px;
}

.MapImage {
    width: 100%;
    height: auto;
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .MapContainer {
        width: 100vw;
        padding: 10px;
    }

    .MapContainer > .Font-24 {
        font-size: 12px;
    }

    .MapImage {
        transform: scale(1);
    }

    .MarginMobile {
        margin-top: 5px;
    }
}
