@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap");

/* Font Weight */
.Montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.Montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

/* Font Size */
.FontDefault {
    font-size: 16px;
}

.Font-18 {
    font-size: 18px;
}

.Font-24 {
    font-size: 24px;
}
