.Footer {
    width: 90vw;
    height: 100px;
    background-color: white;
}

.FooterIcon {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e9e9e7;
}

.Footer2 {
    width: 40vw;
    height: 100px;
}
